# fly.toml app configuration file generated for raxol-playground
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'raxol'
primary_region = 'sjc'
kill_signal = 'SIGTERM'

[build]
  dockerfile = "docker/Dockerfile.web"
  ignorefile = ".dockerignore"

# [deploy]
#   release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'raxol.io'
  PORT = '8080'
  RAXOL_MODE = 'minimal'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1