<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Raxol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Raxol" %>
    <%= Phoenix.HTML.raw(@conn && Phoenix.Controller.get_flash(@conn, :info)) %>
    <%= Phoenix.HTML.raw(@conn && Phoenix.Controller.get_flash(@conn, :error)) %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
